.main{
    display: flex;
}

.left{
    flex: 3 1 0;
    margin: 0 20px;
}

.right{
    flex: 1 1 0;
    margin: 20px;
}

h3{
    text-align: center;
}

.dateBox{
    display: flex;
    justify-content: space-evenly;
}
.dot {
    height: 15px;
    width: 15px;
    background-color:darkgoldenrod;
    border-radius: 50%;
    display: inline-block;
  }